body {
  text-align: center;
  background-image: url("http://www.kokean.com/i/creepy-forest-wallpaper-background.jpg");
  background-size: cover;
}

h1 {
  font-size: 60px;
  font-family: 'Walter Turncoat';
  color: #E1E1E1;
}

h2 {
  font-family: 'Walter Turncoat';
  font-size: 35px;
}

h3 {
  font-family: 'Walter Turncoat';
  font-size: 20px;
}

#cabin {
  height: 80px;
  width: 80px;
}

#wrong {
  display: none;
  height: 40px;
  margin: 10px;
}

#warning {
  display: none;
  color: darkred;
}

input {
  border-radius: 10%;
  height: 25px;
  font-size: 18px;
  text-align: center;
}

button {
  display: inline;
}
#video {
  position: absolute;
  z-index:1;
  top: -80px;
  left: -400px;
}

#puzzle {
  width: 300px;
  height: 250px;
  background-color: darkcyan;
  position: relative;
  display:block;
    border: solid black 2px;
}

#maze {
  border-style: none;
  position: relative;
  width: 600px;
  display:block;
}

table {
  table-layout: fixed;
  margin: 0 auto;
  border: solid black 2px;
  background-color: darkcyan;
}

td {
  height: 80px;
  width: 80px;
}

.shia {
  background-size: cover;
  background-image: url("http://s3.amazonaws.com/thisismyjam/i/f48ef711bcb9adbc3b0e63e69cfa5bde.jpg?1336256520");
}

.player {
  background-size: cover;
  background-image: url("http://rs195.pbsrc.com/albums/z124/SylviaG_Photo/Smiley%20Faces/running20stick20man.gif~c200")
}
#b1, #b2, #b3, #b12, #b13, #b15, #b16{
  border-bottom: solid black 3px;
}

#b4, #b7, #b8, #b9, #b10, #b11, #b14 {
  border-bottom: none;
  border-left: none;
}

#b5, #b6{
  border-bottom: none;
  border-left: solid black 3px;
}
